/******************/
/* Udemy Defaults */
/******************/

*,
html {
  font-size: 62.5%;
}
body {
  font-weight: 400;
  line-height: 1.4;
  color: #1c1d1f;
  font-size: 1.6rem;
  /*min-width: 60rem;*/
}
h1 {
  font-size: 2.4rem;
  padding: 0 2.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.25;
  letter-spacing: -0.5rem;
  font-weight: 700;
}
h2 {
  font-size: 2.4rem;
  padding: 0 2.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.2;
  letter-spacing: -0.2rem;
  font-weight: 700;
}
p {
  max-width: 80rem;
  font-size: 1.4rem;
  padding: 0 2.4rem;
  font-weight: 400;
  line-height: 1.4rem;
}
h3 {
  font-size: inherit;
  line-height: 1.2;
  letter-spacing: -0.2rem;
  font-weight: 700; /*400/700*/
}
/*Up down toggler*/
.toggler {
  transition: transform 150ms linear;
  width: 2rem;
  height: 2rem;
}
/*<img width="240" height="135"........./>*/
img {
  max-width: 100%;
  aspect-ratio: auto 240/135;
}
.course-card {
  min-width: 17.3rem;
  max-width: 37.5rem;
}
.course-title {
  /*h3*/
  font-size: 1.6rem;
  line-height: 1.2;
  letter-spacing: -0.2rem;
  font-weight: 700;
  max-width: 60rem;
  /*
  padding: 0 2.4rem;
  margin-bottom: 0.8rem;
  */
}
.course-author {
  font-weight: 400;
  line-height: 1.4rem;
  font-size: 1.2rem;
  color: #6a6f73;
}
.price {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -0.2;
}
.random {
  overflow: hidden /*scroll visible auto*/;
  visibility: collapse /*hidden visible inherit*/;
}

/* Classified Stuffs */
/* SVR link https://stream-vr-eb9ef5.webflow.io/ */
.element {
  /* Layout */
  display: flex; /* block grid inline inline-block none */

  /* Spacing*/
  margin: auto;
  padding: 0%;

  /* Size */
  width: auto;
  height: auto;
  min-width: none;
  max-width: none;
  min-height: auto;
  max-height: fit-content;
  overflow: hidden; /* auto scroll visible */
  /*fit: fill contain cover none scale-down;*/

  /* Position */
  position: relative; /* absolute fixed static sticky */
  top: auto;
  left: auto;
  bottom: auto;
  z-index: auto;

  /* Typography */
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
  font-size: 1rem;
  line-height: 0%;
  color: #1c1d1f;
  text-align: center; /* end justify left right start */
  font-style: italic normal oblique;
  text-decoration: none; /* overline solid underline wavy dashed dotted double line-through */
  letter-spacing: normal;
  text-indent: 0%;
  text-transform: capitalize; /* lowercase none uppercase */
  text-overflow: clip ellipsis;
  text-shadow: none #1c1d1f;

  /* Backgrouds */
  background: fixed; /* none scroll local */
  background-color: #1c1d1f;

  /* Borders */
  border-radius: 0% 0% 0% 0%;
  border-top: 0ch;
  border-color: #1c1d1f;
  border-width: 0rem;
  border-style: hidden; /* dashed dotted double groove inset none outset ridge solid */

  /* Effects */
  box-shadow: inset; /* inset none transparent */ /* degree */ /* distance */ /*blur*/ /*size*/ /*color*/
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  opacity: 60%;
  outline: auto;
  box-shadow: 🤔;
  transform: hmm; /* move-dir-xyz(2px 2px 2px) scale-xyz-dir(1,1,1) rotate-degree-dir(xdeg, ydeg, zdeg) skew(x, y)*/
  transform-origin: top-val left-val;
  transition: opacity 200ms ease-in; /*type duration easing*/
  /*type: margin padding transform text-shadow box shadow size(width) typography position (top left z-index) */
  filter: blur(5px) brightness() contrast() drop-shadow() none;
  backface-visibility: hidden visible;
  cursor: auto pointer not-allowed wait;
}
/**/

/* Animation Calls */
/* click */
/* hover */
/* scroll into view */

/* Continuous Interactions*/
/* 1. Mouse move over an element along X or Y axis */
/* 2. While scrolling in view */

/* NavBar Animation */
/* Tab Animation*/
/* Dropdown */
/* Slider */
/* Page Loading */
/* Skeleton? */

/* HTML Semantic Elements*/
/* Header Footer Nav Main Section Article Aside Address Figure */

/*Clip Text*/
